<div style="padding-top: 1%;" class="content-container">
  <nav class="sidenav">
    <clr-tree-node style="text-align: center;">
      <button (click)="wizard.open()" class="btn btn-primary">NEW MODEL</button>
    </clr-tree-node>
    <clr-tree-node *ngFor="let model of models | reverse ">
      <button (click)="gotoDetail(model)" class="clr-treenode-link" [class.active]="model.active">
          {{model.name}}
        </button>
    </clr-tree-node>
  </nav>
  <div class="content-area">
    <p>
      Model Editor - Master/Detail Frontpage
    </p>
    <app-models-detail [model]="selectedModel"></app-models-detail>
    <clr-wizard #wizard [(clrWizardOpen)]="open" [clrWizardClosable]="closable" [clrWizardSize]="'lg'" (clrWizardOnCancel)="onCancel()">
      <div class="wizard-title">Add New Model</div>
      <clr-wizard-step>Metadata</clr-wizard-step>
      <clr-wizard-step>Parameters</clr-wizard-step>
      <clr-wizard-step>Data</clr-wizard-step>
      <clr-wizard-step>Review</clr-wizard-step>
      <clr-wizard-page [clrWizardPageNextDisabled]="!myForm.form.valid">
        <form #myForm="ngForm">
          <section class="form-block">
            <label>Metadata</label>
            <div class="form-group">
              <label class="required">Name</label>
              <label for="nameInput" aria-haspopup="true" role="tooltip" [class.invalid]="name.touched && !name.valid" class="tooltip tooltip-validation tooltip-md tooltip-bottom-left">
                        <input type="text" id="nameInput" required [(ngModel)]="temp_new_ml_model.name" name="name" #name="ngModel">
                        <span class="tooltip-content">
                          This field cannot be empty!
                      </span>
                    </label>
            </div>
            <div class="form-group">
              <label for="description_textarea">Description</label>
              <input type="text" id="description_textarea" [(ngModel)]="temp_new_ml_model.description" name="description">
            </div>
          </section>
        </form>
      </clr-wizard-page>
      <clr-wizard-page [clrWizardPageNextDisabled]="!myForm2.form.valid">
        <form #myForm2="ngForm">
          <section class="form-block">
            <label>Parameters</label>
            <div class="form-group">
              <label for="model_type">Model type</label>
              <div class="select">
                <select type="number" [(ngModel)]="temp_new_ml_model.type" [ngModelOptions]="{standalone: true}" (ngModelChange)="getTypeParameters()">
                  <option *ngFor="let type of modelType" [ngValue]="type.name">{{type.name}}</option>
              </select>
              </div>
            </div>
            <div class="form-group">
              <label for="alpha_input">alpha</label>
              <input type="text" id="alpha_input" [(ngModel)]="temp_new_ml_model.parameters.alpha" name="alpha_input">
            </div>
          </section>
        </form>
      </clr-wizard-page>
      <clr-wizard-page>PoC Implementation. Data is already provisioned for...</clr-wizard-page>
      <clr-wizard-page (clrWizardPageOnCommit)="onCommit(true)"><pre>{{temp_new_ml_model | json}}</pre></clr-wizard-page>
    </clr-wizard>
  </div>
</div>
