<div style="padding-top: 1%;" class="content-container">
  <nav class="sidenav">
    <clr-tree-node style="text-align: center;">
      <button (click)="wizard.open()" class="btn btn-primary">NEW MODEL</button>
    </clr-tree-node>
    <clr-tree-node *ngFor="let model of models">
      <button (click)="gotoDetail(model)" class="clr-treenode-link" [class.active]="model.active">
          {{model.name}}
        </button>
    </clr-tree-node>
  </nav>
  <div class="content-area">
    <p>
      Model Editor - Master/Detail Frontpage
    </p>
    <app-models-detail [model]="selectedModel"></app-models-detail>
    <clr-wizard #wizard [(clrWizardOpen)]="open" [clrWizardClosable]="closable" [clrWizardSize]="'lg'" (clrWizardOnCancel)="onCancel()">
      <div class="wizard-title">Add New Model</div>
      <clr-wizard-step>Metadata</clr-wizard-step>
      <clr-wizard-step>Parameters</clr-wizard-step>
      <clr-wizard-step>Data</clr-wizard-step>
      <clr-wizard-step>Review</clr-wizard-step>
      <clr-wizard-page>
        <form>
          <section class="form-block">
            <label>Think of a nice name and description for your model.</label>
            <div class="form-group">
              <label class="required">Name</label>
              <label for="validInput1" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation invalid tooltip-sm">
                <input type="text" id="validInput1">
                <span class="tooltip-content">
                    This field cannot be empty!
                </span>
            </label>
            </div>
            <div class="form-group">
              <label for="formFields_8">Description</label>
              <textarea id="formFields_8" rows="5"></textarea>
            </div>
          </section>
        </form>

      </clr-wizard-page>
      <clr-wizard-page>
        <form>
          <section class="form-block">
            <label>Now we need to know some parameters for this model. This lets our goblins forge the best model for you. The more specific you are about these parameters, the more closer the model will be to your expectiations.</label>
            <div class="form-group">
              <label class="required">Type</label>
              <!--<label for="validInput1" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation invalid tooltip-sm">-->
                <div class="select">
                <select id="exampleSelect1">
                    <option>Linear Regression</option>
                    <option>Support Vector Machine - DOES NOT WORK</option>
                    <option>Something Else</option>
                </select>
            </div>
                <!--<span class="tooltip-content">-->
                    <!--This field cannot be empty!-->
                <!--</span>-->
            <!--</label>-->
            </div>
            <div class="form-group">
              <label for="parameters">Parameters</label>
              <textarea id="parameters" rows="5"></textarea>
            </div>
          </section>
        </form>
      </clr-wizard-page>
      <clr-wizard-page>PROOF OF CONCEPT. Data is already provisioned for on the server side.</clr-wizard-page>
      <clr-wizard-page>Review controls go here...</clr-wizard-page>
    </clr-wizard>
  </div>
</div>

