# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings
*pyc*
*swp

#data
data/
*.p
*.pkl

# e2e
/e2e/*.js
/e2e/*.map

#System Files
.DS_Store
Thumbs.db

#Folders
user_data/*
config/
server/config.json
server/distributed_framework/*.json
server/distributed_framework/*.conf
server/distributed_framework/env
server/distributed_framework/gunicorn_config.py
server/distributed_framework/swarm_create.py
server/distributed_framework/swarm_create_aws.sh


config*
.babelrc
