<div class="main-container">
	<header class="header">
		<div class="branding">
			<a href="/" class="nav-link">
				<clr-icon shape="caret left"></clr-icon>
				<span class="title">{{title}}</span>
				<clr-icon shape="caret right"></clr-icon>
			</a>
		</div>
		<div class="header-nav" *ngFor="let item of header_items">
			<a routerLink="{{item.link}}" [class.active]="item.visible" class="nav-link" (click)="setActive(item.id)"><span class="nav-text">{{item.name}}</span></a>
		</div>
		<div class="header-actions">
			<a routerLink="" class="nav-link nav-icon">
				<clr-icon shape="cog"></clr-icon>
			</a>
		</div>
	</header>
	<router-outlet></router-outlet>
</div>
