<div style="padding-left:2%; padding-right: 2%;">
  <clr-modal [(clrModalOpen)]="coldStart" [clrModalClosable]="false">
    <h3 class="modal-title">Hey there :)</h3>
    <div class="modal-body">
      <p>First time here? Welcome to MLAAS. Click the button below to build your first learning model.</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="proceed()">
            NEW
        </button>
    </div>
  </clr-modal>

  <button (click)="createHiMessage()">Push random</button>
    <ul>
      <li>{{posts}}</li>
    </ul>

  <div class="row">
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" *ngFor="let model of items | async">
      <a class="card clickable">
        <div class="card-header">
          {{model.name}}
        </div>
        <div class="card-block">
          <div class="card-media-block">
            <div class="card-media-description">
              <span class="card-media-title">
                            {{model.type}}
              </span>
              <span class="card-media-text">
                            {{model.created_at}}
              </span>
            </div>
          </div>
          <div class="card-text">
            {{model._id}}
          </div>
        </div>
        <div class="card-footer">
          <a class="btn btn-primary">Expose</a>
          <!--<button class="btn btn-sm btn-link">Expose</button>-->
          <a class="btn btn-sm btn-link" (click)="selectItem(model)">Edit</a>
        </div>
      </a>
    </div>


  </div>


  <!-- <app-models></app-models> -->
</div>
