<div style="padding-left:2%; padding-right: 2%;">
  <div class="row">
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
      <a href="" class="card clickable">
        <div class="card-header">
          Model Name
        </div>
        <div class="card-block">
          <div class="card-media-block">
            <div class="card-media-description">
              <span class="card-media-title">
                            Model Type
              </span>
              <span class="card-media-text">
                            Created:
              </span>
            </div>
          </div>
          <div class="card-text">
            More content here....
          </div>
        </div>
        <div class="card-footer">
          <a class="btn btn-primary">Expose</a>
          <!--<button class="btn btn-sm btn-link">Expose</button>-->
          <button class="btn btn-sm btn-link" [routerLink]="['/model', model.id]">Edit</button>
        </div>
      </a>
    </div>
  </div>
</div>