<div style="display: inline;" *ngIf="selectedItem.name">
  <h1 style="margin-top: 0;">
    <span *ngIf="!edit_mode" (click)="this.edit_mode=true;">{{selectedItem.name}}</span>
    <input [focus]="focusBool" style="background-color: inherit; border-style: none;" *ngIf="edit_mode" [(ngModel)]="selectedItem.name" placeholder="name" (focusout)="this.edit_mode=false;"/>
    <button style="float: right;" (click)="deleted.emit(selectedItem)" class="btn btn-danger-outline">Delete</button>
    <button style="float: right;" type="submit" class="btn btn-link">Train</button>
    <button style="float: right;" type="submit" class="btn btn-link">Test</button>
    <button style="float: right;" type="submit" class="btn btn-link">Expose</button>
  </h1>
  <div *ngIf="progressBool; then progressBlock else noProgressBlock "></div>
  <ng-template #progressBlock>
    <div class="progress-group" style="font-size: 1px">
      <div class="progress loop"><progress></progress></div>
    </div>
  </ng-template>

  <ng-template #noProgressBlock>
    <hr>
  </ng-template>
</div>
<div *ngIf="selectedItem.name">
  <!--<h2>{{selectedItem.name}} details!</h2>-->
  <div class="card-columns">
    <div class="card">
      <div class="card-header">
        Information
      </div>
        <div class="card-block">
            <div class="card-text">
              <table style="margin-top:0" class="table table-vertical">
                <tbody>
                    <tr>
                        <th>Model ID</th>
                        <td>{{selectedItem._id}}</td>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <td>{{selectedItem.name}}</td>
                    </tr>
                    <tr>
                        <th>Type</th>
                        <td>{{selectedItem.type}}</td>
                    </tr>
                    <tr>
                        <th>Creation Timestamp</th>
                        <td>{{selectedItem.created_at}}</td>
                    </tr>
                    <tr>
                        <th>Last Update</th>
                        <td>{{selectedItem.updated_at}}</td>
                    </tr>
                </tbody>
              </table>
            </div>
        </div>
        <!-- <div class="card-footer">
            <button class="btn btn-sm btn-link">Footer Action 1</button>
            <button class="btn btn-sm btn-link">Footer Action 2</button>
        </div> -->
    </div>
    <div class="card">
      <div class="card-header">
        Model Parameters
      </div>
      <div class="card-block">
        <form>
          <div *ngFor="let k_v of selectedItem.parameters | pairs; let in = index" class="row">
            <div class="col-xs-4">
                <label style="display: block; text-align: center;" for="key">{{k_v[0]}}</label>
            </div>
            <div class="col-xs">
                <input type="text" name="abc-{{in}}" id="key" [(ngModel)]="k_v[1]"/>
            </div>
          </div>
        </form>
      </div>
      <!-- <div class="card-footer">

    </div> -->
  </div>
    <div class="card">
      <div class="card-header">
        Performance Monitor
      </div>
        <div class="card-block">
            <div class="card-text">
              Some kind of graph
              <table style="margin-top:0" class="table table-vertical">
                <tbody>
                    <tr>
                        <th>Latest Test Accuracy</th>
                        <td>{{selectedItem.test_accuracy}}</td>
                        <td> something else </td>
                    </tr>

                </tbody>
              </table>
            </div>
        </div>
        <!-- <div class="card-footer">
            <button class="btn btn-sm btn-link">Footer Action 1</button>
            <button class="btn btn-sm btn-link">Footer Action 2</button>
        </div> -->
    </div>

    <div class="card">
      <div class="card-header">
        API Access
        <div style="float: right; margin-right: 0;" class="toggle-switch">
          <input type="checkbox" id="api_toggle">
          <label for="api_toggle"></label>
        </div>
      </div>
        <div class="card-block">

            <div class="card-text">
              ADDRESS/endpoint maybe?..
            </div>
        </div>
        <!-- <div class="card-footer">

        </div> -->
    </div>

</div>
</div>
