<div *ngIf="model">
  <!--<h2>{{model.name}} details!</h2>-->
  <div class="card-columns">
    <div class="card">
      <div class="card-header">
        Information
      </div>
        <div class="card-block">
            <div class="card-text">
              <table style="margin-top:0" class="table table-vertical">
                <tbody>
                    <tr>
                        <th>Model ID</th>
                        <td>{{model._id}}</td>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <td>{{model.name}}</td>
                    </tr>
                    <tr>
                        <th>Type</th>
                        <td>{{model.type}}</td>
                    </tr>
                    <tr>
                        <th>Creation Timestamp</th>
                        <td>{{model.created_at}}</td>
                    </tr>
                    <tr>
                        <th>Last Update</th>
                        <td>{{model.updated_at}}</td>
                    </tr>
                </tbody>
              </table>
            </div>
        </div>
        <!-- <div class="card-footer">
            <button class="btn btn-sm btn-link">Footer Action 1</button>
            <button class="btn btn-sm btn-link">Footer Action 2</button>
        </div> -->
    </div>
    <div class="card">
      <div class="card-header">
        Model Parameters
      </div>
      <div class="card-block">
        <form>
          <div *ngFor="let k_v of model.parameters | pairs; let in = index" class="row">
            <div class="col-xs-4">
                <label style="display: block; text-align: center;" for="key">{{k_v[0]}}</label>
            </div>
            <div class="col-xs">
                <input type="text" name="abc-{{in}}" id="key" [(ngModel)]="k_v[1]"/>
            </div>
          </div>
        </form>
      </div>
      <!-- <div class="card-footer">

    </div> -->
  </div>
    <div class="card">
      <div class="card-header">
        Performance Monitor
      </div>
        <div class="card-block">
            <div class="card-text">
              Some kind of graph
              <table style="margin-top:0" class="table table-vertical">
                <tbody>
                    <tr>
                        <th>Latest Test Accuracy</th>
                        <td>{{model.test_accuracy}}</td>
                        <td> something else </td>
                    </tr>

                </tbody>
              </table>
            </div>
        </div>
        <!-- <div class="card-footer">
            <button class="btn btn-sm btn-link">Footer Action 1</button>
            <button class="btn btn-sm btn-link">Footer Action 2</button>
        </div> -->
    </div>

    <div class="card">
      <div class="card-header">
        API Access
        <div style="float: right; margin-right: 0;" class="toggle-switch">
          <input type="checkbox" id="api_toggle">
          <label for="api_toggle"></label>
        </div>
      </div>
        <div class="card-block">

            <div class="card-text">
              ADDRESS/endpoint maybe?..
            </div>
        </div>
        <!-- <div class="card-footer">

        </div> -->
    </div>

</div>
</div>
